.x-infinite-scroll-container {
	clear: both;
	position: relative;
}
.x-infinite-scroll-container[data-x-infinite-scroll-mode=gallery-list] {
	border: 0;
	border-top: 1px solid #000000;
	width: 100%;
}
.x-infinite-scroll-container[data-x-infinite-scroll-mode=image-list] {
	border: 1px solid #000000;
	min-width: 710px;
	max-width: 1210px;
	margin: 0 auto;
}

.x-infinite-scroll-header-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
}
.x-infinite-scroll-header {
	top: 0;
	bottom: 0;
	position: sticky;
	font-size: 10pt;
	text-align: right;
	line-height: 1.35em;
	z-index: 202;
	pointer-events: auto;
}
.x-infinite-scroll-header-content {
	display: inline-block;
	white-space: nowrap;
	line-height: 1.5em;
	height: 2.5em;
}
.x-infinite-scroll-header-top-link {
	display: inline-block;
	text-decoration: none;
	padding: 0.5em;
	margin-right: 0.5em;
}
.x-infinite-scroll-page-link,
.x-infinite-scroll-enabled-checkbox-label0 {
	white-space: nowrap;
	display: inline-block;
	padding: 0.5em;
}

.x-infinite-scroll-page {
	position: relative;
}
.x-infinite-scroll-page-header {
	top: 0;
	bottom: 0;
	position: sticky;
	font-size: 10pt;
	text-align: left;
	line-height: 1.35em;
	z-index: 201;
}
.x-infinite-scroll-container[data-x-infinite-scroll-mode=image-list] .x-infinite-scroll-page:not(:last-child) {
	border-bottom: 1px solid #000000;
}
.x-infinite-scroll-page-link {
	text-decoration: none;
}

div#gdt,
.x-infinite-scroll-page {
	border: 0;
	text-align: left;
	min-width: 0;
	max-width: none;
	padding: 0;
}
.x-infinite-scroll-page img {
	border: 1px solid #000000;
	margin: 0;
	padding: 0;
}
.x-infinite-scroll-page a {
	text-decoration: none;
}

:root.x-is-dark .x-infinite-scroll-container[data-x-infinite-scroll-mode=image-list],
:root.x-is-dark .x-infinite-scroll-page-header,
:root.x-is-dark .x-infinite-scroll-header-content {
	background-color: #4f535b;
}

:root:not(.x-is-dark) .x-infinite-scroll-container[data-x-infinite-scroll-mode=image-list],
:root:not(.x-is-dark) .x-infinite-scroll-page-header,
:root:not(.x-is-dark) .x-infinite-scroll-header-content {
	background-color: #EDEBDF;
}

:root:not(.x-is-dark) .x-infinite-scroll-container,
:root:not(.x-is-dark) .x-infinite-scroll-page img,
:root:not(.x-is-dark) .x-infinite-scroll-page:not(:last-child) {
	border-color: #5C0D12;
}

@media screen and (max-width:1230px) {
	.x-infinite-scroll-container[data-x-infinite-scroll-mode=image-list] {
		max-width: 970px;
	}
}

@media screen and (max-width:990px) {
	.x-infinite-scroll-container[data-x-infinite-scroll-mode=image-list] {
		max-width: 730px;
	}
}

/* Checkbox */

.lc.x-checkbox-small {
	height: 20px;
	line-height: 20px;
	padding-left: 26px;
	display: inline-block;
}
.lc.x-checkbox-small>span {
	height: 16px;
	width: 16px;
}
.lc.x-checkbox-small>span:after {
	left: 5px;
	top: 1.1px;
	width: 3px;
	height: 8px;
}

/* eze overrides */

div.eze_gallery_page {
	background-color: transparent;
	border: 0;
	width: auto;
	min-width: 0;
	max-width: none;
	margin: 0;
	clear: none;
	padding: 0;
	border-radius: 0;
}

a.eze_gallery_page_indicator {
	display: none;
}

.eze_gallery_custom_table>.eze_gallery_custom_row>.eze_gallery_custom_cell:nth-child(1)>p:nth-child(1) {
	display: none;
}
