h1 {font-size:10pt; font-weight:bold; text-align:center; margin:3px }
h2 {font-size:10pt; font-weight:bold; text-align:center; margin:10px auto 3px }
div.homebox { border:1px solid #c3c3c3; width:600px; margin:auto; padding:3px }
td.c1 { width:100px; font-weight:bold; text-align:right }
td.c2 { width:120px; text-align:left; margin-bottom:2px }